/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
a, a:hover {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* The tieu de H6
    font-family: 'Pacifico', cursive;
*/

/* Contact */

/* Buttons */

/* Stats */


/* Video */

/* Hieu ung chuyen dong cho video */
